<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/car.css">
</head>
<body>
<div class="header">
    <a href="../index.html" class="icon1"></a>
    <span>規格類型</span>
</div>
<section>
<div class="empty">
    <div class="icon">

    </div>
    <p>购物车还空着</p>
    <p>去选几件中意的商品吧</p>
</div>
</section>
</body>
<script src="../components/jquery/jquery-1.11.1.js"></script>

</html>