<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../components/swipers/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../public/css/contract.css">
</head>
<body>
<div class="header">
    <a href="javascript:history.back(-1);" class="icon1"></a>
    <span>規格類型</span>
</div>
<div class="container">
    <div class="detail_image">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src=""></div>
                <div class="swiper-slide"><img src=""></div>
                <div class="swiper-slide"><img src=""></div>
                <div class="swiper-slide"><img src=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="detail_goods">
        <p>售<s></s>價 :
            <img src="../public/images/ntd.png" alt="">
            <span class="price">656-1120</span>
        </p>
        <p>商品规格:<span class="spec">HL888TF</span></p>
        <p>商品編碼 :<span class="code">25025202</span></p>
    </div>
    <div class="detail_spec">
        请选择商品 :
        <div class="chance">
            合世-血压计
        </div>
    </div>
    <div class="detail_buy">
        依照法令限制,本商品属于线下下单,
        请与客服联络，或留下您的联系方式
    </div>
    <div class="footer">
        <div class="left">
            <span>请联络我</span>
        </div>
        <div class="right">
            <span>联络客服</span>
        </div>
    </div>
</div>
<div class="sub_container">
    <div class="contact">
        <p>联络人：<input type="text"></p>
        <p>联络方式：<input type="text"></p>
    </div>
    <button type="submit" value="送出" class="submit">送出</button>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../components/swipers/swiper-3.4.2.min.js"></script>
<script src="../script/contract.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: 'true',
        pagination: '.swiper-pagination',
        autoplay: 3000,
        autoplayDisableOnInteraction : false,
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
</script>
</html>