<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/express.css">
</head>
<body>
<div class="header">
    <a href="javascript:history.back(-1);" class="icon1"></a>
    <span>物流詳情</span>
</div>

<div class="express_detail">
    <div class="package">
        包裹A
    </div>
    <div class="corp">
        <i class="box"></i>
        <div class="fl">
            <p class="corp_detail">承運公司 : <span>圓通速遞</span></p>
            <p class="corp_number">運單號 : <span>121614162169181</span></p>
        </div>
    </div>
</div>
<div class="express_detail">
    <div class="package">
        包裹A
    </div>
    <div class="corp">
        <i class="box"></i>
        <div class="fl">
            <p class="corp_detail">承運公司 : <span>申通快遞</span></p>
            <p class="corp_number">運單號 : <span>5456498465146</span></p>
        </div>
    </div>
</div>
</body>
</html>