<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../public/css/order_detail.css">
</head>
<body>

<div class="container">
    <!--header部分开始-->
    <div class="header">
        <a href="javascript:history.back(-1);" class="icon1"></a>
        <span>訂單詳情</span>
    </div>
    <!--header部分结束-->


    <!--order_address部分开始-->
    <div class="order_address">
        <i class="icon_address"></i>
        <div class="address_person clearfix">
            <span class="person fl">聯絡人 : XX</span>
            <span class="number fr">09XX-XXX-XXX</span>
        </div>
        <div class="address_detail">
            <span>台北市中凱國際大廈4樓英華達南昌市高溪湖農民公寓124棟</span>
        </div>
    </div>
    <!--order_address部分结束-->

    <!--order_info部分开始-->
    <div class="order_main">
        <div class="order_info">
            <div class="info_send">
                <span class="send">出貨地A</span>
                <span class="orderNumber">訂單編號</span>
                <span class="number">5016015181418151</span>
            </div>
            <div class="info_type clearfix">
                <img src="../public/images/666.jpg" alt="" class="fl">
                <div class="type_desc fl">
                    <p class="name">HAC-魚油深海膠囊<span class="mount">x2</span></p>
                    <p>價格 ： <img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">6500</span></p>
                    <p>規格類型 ： <span class="spec"> 50粒入</span></p>
                </div>
            </div>
            <div class="info_express">
                <p class="express fl">快遞：<img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">0</span></p>
                <div class="total fr">
                    商品數量：<span>15</span>
                    <span class="subtotal">小計：<img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">6500</span></span>
                </div>

            </div>
        </div>
        <div class="order_info">
            <div class="info_send">
                <span class="send">出貨地A</span>
                <span class="orderNumber">訂單編號</span>
                <span class="number">5016015181418151</span>
            </div>
            <div class="info_type clearfix">
                <img src="../public/images/666.jpg" alt="" class="fl">
                <div class="type_desc fl">
                    <p class="name">HAC-魚油深海膠囊<span class="mount">x2</span></p>
                    <p>價格 ： <img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">6500</span></p>
                    <p>規格類型 ： <span class="spec"> 50粒入</span></p>
                </div>
            </div>
            <div class="info_express">
                <p class="express fl">快遞：<img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">0</span></p>
                <div class="total fr">
                    商品數量：<span>15</span>
                    <span class="subtotal">小計：<img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">6500</span></span>
                </div>
            </div>
        </div>
    </div>

    <!--order_info部分结束-->
    <div class="order_total">
        <div class="order_invoice">
            <p class="invoice_info">發票信息</p>
            <p class="invoice_person">
                李xx<span class="number">41454251814561</span>
            </p>
        </div>
        <div class="order_money">
            <p>商品數量 ：<span class="goods_mount"></span></p>
            <p>總快遞總額 ： <img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">15</span></p>
            <p>合計付款 ： <img src="../public/images/ntd.png" alt="" class="ntd">&nbsp;<span class="price">3924</span></p>
        </div>
        <div class="order_deal">
            <p>交易流水單號 ：<span class="goods_mount">564561251684</span></p>
            <p>創建時間 ： <span class="express_total">2017/5/21 15:30</span></p>
            <p>付款時間 ： <span class="total">未付款</span></p>
            <p>完成時間 ： <span class="goods_finish">未完成</span></p>
        </div>
    </div>
</div>
</body>
</html>