<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../public/css/pay_success.css">
</head>
<body>
<div class="header">
    <a href="javascript:history.back(-1);" class="icon1"></a>
    <span>醫立達商城</span>
</div>


<div class="main">
    <img src="../public/images/ok1_r2_c1.png" alt="">
    <span class='tip'>恭喜您 , 付款成功</span>
    <div class="main_order">
        <div class="text fl">
            <p>交易流水單號</p>
            <p>訂單編號</p>
            <p>付款金額</p>
            <p>下單時間</p>
            <p>付款時間</p>
        </div>
        <div class="number fl">
            <p> : XXXXXXXXXXXXXX</p>
            <p> : 1515648151981556</p>
            <p> : NTD 399.00</p>
            <p> : 2017-09-01 17:25:36</p>
            <p> : 2017-09-01 17:25:36</p>
        </div>
    </div>
</div>


<div class="footer">
    <div class="left"><a href="#">繼續購物</a></div>
    <div class="right"><a href="#">我的訂單</a></div>
</div>
</body>
</html>