@charset "utf-8";
@media only screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 411px) {
  html {
    font-size: 20.55px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 20.7px;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 30px;
  }
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
button {
  -webkit-appearance: none;
  resize: none;
  outline: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: transparent;
}
/* 图片自适应 */
img {
  display: block;
  width: 100%;
  border: none;
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  margin: 0 auto;
  max-width: auto;
  font-family: "Microsoft YaHei", Arial, "Helvetica";
  background: #f2f2f2;
  color: #000;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  color: #444;
  font-family: Microsoft YaHei, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: Microsoft YaHei;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w {
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 2.66666667rem;
  background-color: #F4F7FC;
}
.header {
  width: 100%;
  height: 2.66666667rem;
  background-color: #38ADFA;
  text-align: center;
  font-size: 1.05555556rem;
  line-height: 2.66666667rem;
  color: #fff;
  border-bottom: 1px solid #A2A6A7;
  transform: translateZ(0);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
.header .icon1 {
  position: absolute;
  left: 0.83333333rem;
  top: 1rem;
  width: 0.38888889rem;
  height: 0.69444444rem;
  background: url(../images/sprites.png) -4.38888889rem -0.69444444rem no-repeat;
  background-size: 24.36111111rem;
}
.detail_image {
  margin: 0 auto;
  width: 100%;
  height: 18.97222222rem;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  border-top: 1px solid #D8D9DE;
}
.swiper-wrapper img {
  width: 100%;
  height: 19.0625rem;
}
.detail_goods {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-left: 0.83333333rem;
  padding-bottom: 0.08333333rem;
  padding-top: 0.88888889rem;
  font-size: 0.72222222rem;
  color: #777777;
}
.detail_goods p {
  margin-bottom: 0.69444444rem;
}
.detail_goods p s {
  margin: 0 0.75rem;
}
.detail_goods p img {
  width: 0.83333333rem;
  display: inline-block;
  margin-left: 10px;
}
.detail_goods p .price {
  color: #38A9EF;
  font-size: 1.16666667rem;
}
.detail_goods p .spec,
.detail_goods p .code {
  color: #000;
  font-size: 0.72222222rem;
  margin-left: 10px;
}
.detail_spec {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0.69444444rem 0;
  height: 9.94444444rem;
  width: 100%;
  padding: 0.97222222rem 0.83333333rem;
  box-sizing: border-box;
}
.detail_buy {
  height: 2.66666667rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.80555556rem;
  color: #000;
  padding: 0 0.83333333rem;
  margin: 0.69444444rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.detail_buy .mount {
  float: left;
  margin-top: 0.88888889rem;
}
.detail_buy .number {
  float: right;
  margin-top: 0.36111111rem;
}
.detail_buy .number input {
  width: 3rem;
  height: 1.94444444rem;
  border: none;
  text-align: center;
  font-size: 1.05555556rem;
}
.detail_buy .number .less,
.detail_buy .number .add {
  display: block;
  width: 2.41666667rem;
  height: 1.94444444rem;
  background-color: #eee;
  border-radius: 3px;
  font-size: 1.38888889rem;
  color: #8F8F8F;
}
.detail_buy .number .less {
  float: left;
}
.detail_buy .number .add {
  float: right;
}
.detail_buy .number span:nth-child(2) {
  float: left;
  font-size: 1.11111111rem;
  margin: 0.27777778rem 1.25rem;
}
.footer {
  height: 2.66666667rem;
}
.footer .left {
  float: left;
  height: 2.66666667rem;
  width: 50%;
  background-color: #38ADFC;
  font-size: 1.05555556rem;
  color: #fff;
  line-height: 2.66666667rem;
  text-align: center;
}
.footer .right {
  float: right;
  width: 50%;
  background-color: #fff;
  font-size: 1.05555556rem;
  color: #38ADFC;
  line-height: 2.66666667rem;
  text-align: center;
}
