@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
button {
  -webkit-appearance: none;
  resize: none;
  outline: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: transparent;
}
/* 图片自适应 */
img {
  display: block;
  width: 100%;
  border: none;
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  margin: 0 auto;
  max-width: auto;
  font-family: "Microsoft YaHei", Arial, "Helvetica";
  background: #f2f2f2;
  color: #000;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  color: #444;
  font-family: Microsoft YaHei, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: Microsoft YaHei;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w {
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 2.66666667rem;
  background-color: #F4F7FC;
}
.header {
  width: 100%;
  height: 2.66666667rem;
  background-color: #38ADFA;
  text-align: center;
  font-size: 1.05555556rem;
  line-height: 2.66666667rem;
  color: #fff;
  border-bottom: 1px solid #A2A6A7;
  transform: translateZ(0);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
.header .icon1 {
  position: absolute;
  left: 0.83333333rem;
  top: 1rem;
  width: 0.38888889rem;
  height: 0.69444444rem;
  background: url(../images/sprites.png) -4.38888889rem -0.69444444rem no-repeat;
  background-size: 24.36111111rem;
}
.top {
  background-color: #fff;
  font-size: 0.80555556rem;
  padding-left: 0.80555556rem;
  border-bottom: 1px solid #DCE0E3;
}
.top li {
  height: 2.30555556rem;
  border-top: 1px solid #E6E6E6;
  line-height: 2.30555556rem;
  width: 100%;
}
.top li input {
  font-size: 0.80555556rem;
  caret-color: #38A8F4;
}
.top li .yes {
  display: block;
  width: 1.27777778rem;
  height: 1.27777778rem;
  background: url(../images/sprites.png) no-repeat -4.30555556rem -1.69444444rem;
  background-size: 24.36111111rem;
  float: right;
  margin-top: 0.52777778rem;
  margin-right: 0.83333333rem;
}
.top li .no {
  display: block;
  width: 1.27777778rem;
  height: 1.25rem;
  background: url(../images/sprites.png) no-repeat -3rem -2.16666667rem;
  background-size: 24.36111111rem;
  float: right;
  margin-top: 0.52777778rem;
  margin-right: 0.83333333rem;
}
.middle {
  margin-top: 0.69444444rem;
  margin-bottom: 1.30555556rem;
  border-top: 1px solid #DCE0E3;
}
.middle .info_edit {
  background-color: #fff;
  font-size: 0.83333333rem;
  padding-left: 0.83333333rem;
  border-bottom: 1px solid #DCE0E3;
  padding-top: 0.41666667rem;
}
.middle .info_edit span {
  display: block;
  color: #37A8F8;
  margin-bottom: 0.83333333rem;
}
.middle .info_edit li {
  width: 100%;
  height: 1.86111111rem;
  border-top: 1px solid #DCE0E3;
  line-height: 1.91666667rem;
}
.middle .info_edit li:nth-child(5) {
  height: 5.72222222rem;
}
.middle .info_edit li:nth-child(1) {
  border: none;
}
.middle .info_edit li:nth-child(4) {
  position: relative;
}
.middle .info_edit li .icon {
  display: block;
  position: absolute;
  top: 0.55555556rem;
  width: 0.44444444rem;
  height: 0.77777778rem;
  background: url(../images/sprites.png) no-repeat -7.55555556rem -0.11111111rem;
  background-size: 24.36111111rem;
  right: 0.83333333rem;
}
.middle .info_edit li input,
.middle .info_edit li textarea {
  width: 14.44444444rem;
  font-size: 0.83333333rem;
  font-family: "Microsoft YaHei";
  caret-color: #38A8F4;
}
.footer {
  height: 2.41666667rem;
  text-align: center;
  line-height: 2.41666667rem;
  color: #3AABFB;
  font-size: 0.97222222rem;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #DFE0E4;
  border-bottom: 1px solid #DFE0E4;
}
