@charset "utf-8";
@media only screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 411px) {
  html {
    font-size: 20.55px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 20.7px;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 30px;
  }
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
button {
  -webkit-appearance: none;
  resize: none;
  outline: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: transparent;
}
/* 图片自适应 */
img {
  display: block;
  width: 100%;
  border: none;
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: auto;
  font-family: "Microsoft YaHei", Arial, "Helvetica";
  background: #f2f2f2;
  color: #333;
  font-size: 1.2rem;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  color: #444;
  font-family: Microsoft YaHei, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: Microsoft YaHei;
}
img {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w {
  width: 100%;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 2.66666667rem;
  background-color: #38ADFA;
  text-align: center;
  font-size: 1.05555556rem;
  line-height: 2.66666667rem;
  color: #fff;
  border-bottom: 1px solid #A2A6A7;
  position: relative;
}
.header .icon1 {
  position: absolute;
  left: 0.83333333rem;
  top: 1rem;
  width: 0.38888889rem;
  height: 0.69444444rem;
  background: url(../images/sprites.png) -4.38888889rem -0.69444444rem no-repeat;
  background-size: 24.36111111rem;
}
.tab {
  width: 100%;
  height: 1.86111111rem;
  background-color: #fff;
  font-size: 0.83333333rem;
  border-top: 1px solid #BFBFC7;
  border-bottom: 1px solid #E0E1E5;
}
.tab li {
  width: 4.41666667rem;
  height: 1.38888889rem;
  float: left;
  text-align: center;
  border-right: 1px solid #E1E1E1;
  margin-top: 0.30555556rem;
}
.tab li a {
  color: inherit;
}
.tab li.active {
  color: #43D568;
  border-bottom: 4px  solid #43D568;
}
.tip {
  width: 100%;
  height: 2.66666667rem;
  font-size: 0.72222222rem;
  text-align: center;
  line-height: 2.66666667rem;
  background-color: #fff;
  margin-top: 0.69444444rem;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
.order_main {
  width: 100%;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  margin-top: 0.69444444rem;
}
.order_main .order_info {
  padding-left: 0.83333333rem;
  background-color: #fff;
}
.order_main .order_info .info_water {
  width: 19.16666667rem;
  height: 2.16666667rem;
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;
  font-size: 0.66666667rem;
  color: #fff;
}
.order_main .order_info .info_water span {
  display: block;
  float: left;
}
.order_main .order_info .info_water span.green {
  width: 4.5rem;
  height: 1.27777778rem;
  background-color: #42D666;
  border-radius: 2px;
  text-align: center;
  line-height: 1.27777778rem;
  margin-top: 0.44444444rem;
  margin-right: 0.94444444rem;
}
.order_main .order_info .info_water span.number {
  color: #000;
  margin-top: 0.69444444rem;
}
.order_main .order_info .info_send {
  width: 19.16666667rem;
  height: 1.66666667rem;
  border-bottom: 1px solid #E6E6E6;
  line-height: 1.38888889rem;
}
.order_main .order_info .info_send .send {
  font-size: 0.83333333rem;
  color: #000;
  margin-right: 1.77777778rem;
}
.order_main .order_info .info_send .orderNumber,
.order_main .order_info .info_send .number {
  font-size: 0.72222222rem;
  color: #979797;
}
.order_main .order_info .info_type {
  width: 19.16666667rem;
  height: 5.02777778rem;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}
.order_main .order_info .info_type img {
  width: 4.16666667rem;
  height: 100%;
}
.order_main .order_info .info_type .type_desc {
  font-size: 0.72222222rem;
  color: #4F4F4F;
  margin-left: 1.05555556rem;
}
.order_main .order_info .info_type .type_desc p {
  margin-top: 0.5rem;
}
.order_main .order_info .info_type .type_desc .name {
  float: ;
  font-size: 0.83333333rem;
  color: #000;
}
.order_main .order_info .info_type .type_desc .name span {
  position: absolute;
  top: 0.83333333rem;
  right: 0.83333333rem;
  color: #929292;
  font-size: 0.72222222rem;
}
.order_main .order_info .info_type .type_desc .ntd {
  width: 0.83333333rem;
  display: inline-block;
}
.order_main .order_info .info_type .type_desc .price {
  color: #38A9EF;
  font-size: 0.72222222rem;
  font-weight: 600;
}
.order_main .order_info .info_express {
  height: 2.22222222rem;
  font-size: 0.72222222rem;
  line-height: 2.22222222rem;
  border-bottom: 1px solid #E6E6E6;
  padding-right: 0.83333333rem;
}
.order_main .order_info .info_express .ntd {
  width: 0.83333333rem;
  display: inline-block;
}
.order_main .order_info .info_express .price {
  color: #38A9EF;
  font-size: 0.72222222rem;
  font-weight: 600;
}
.order_main .order_info .info_express .subtotal {
  margin-left: 0.27777778rem;
}
.order_main .order_info .info_mount {
  width: 19.16666667rem;
  background-color: #fff;
  font-size: 0.83333333rem;
  padding-bottom: 0.55555556rem;
}
.order_main .order_info .info_mount p {
  margin-top: 0.55555556rem;
}
.order_main .order_info .info_mount img {
  width: 0.83333333rem;
  display: inline-block;
}
.order_main .order_info .info_mount .money {
  color: #38A9EF;
  font-size: 0.83333333rem;
  font-weight: 600;
}
.none {
  width: 100%;
  height: 8.66666667rem;
  margin-top: 5.02777778rem;
}
.none i {
  display: block;
  width: 5rem;
  height: 5.02777778rem;
  background: url(../images/sprites.png) -19.36111111rem 0 no-repeat;
  background-size: 24.36111111rem;
  margin: 0 auto;
}
.none .big {
  font-size: 1.19444444rem;
  color: #767779;
  text-align: center;
  margin-top: 0.69444444rem;
  margin-bottom: 0.19444444rem;
}
.none .small {
  font-size: 0.80555556rem;
  color: #767779;
  text-align: center;
}
