
@import "base.less";

//頭部
@import "common.less";
.info_look {
  border-bottom: 1px solid #D9D8E0;
  background-color: #fff;
  margin-bottom: 87 / 36rem;
  .address_detail {
    margin-left: 30 / 36rem;
    padding: 20 / 36rem 0;
    border-top: 1px solid #E7E7E7;
    position: relative;
    .name {
      float: left;
      margin-right: 65 / 36rem;
      font-size: 30 / 36rem;
    }
    .tel {
      float: left;
      font-size: 30 / 36rem;
    }
    .address {
      font-size: 26 / 36rem;
      color: #ccc;
      margin-top: 10 /36rem;
    }
    .edit {
      position: absolute;
      top: 40 / 36rem;
      right: 30 / 36rem;
      height: 40 / 36rem;
      padding-left: 30 / 36rem;
      border-left: 1px solid #ccc;
      a {
        display: block;
        width: 35 / 36rem;
        height: 35 / 36rem;
        background: url(../images/sprites.png) -74 / 36rem  -78 / 36rem no-repeat;
        background-size: 877 / 36rem;
      }
    }
  }
}
.info_edit {
  background-color: #fff;
  font-size: 30 / 36rem;
  padding-left: 30 / 36rem;
  border-bottom: 1px solid #DCE0E3;
  li {
    width: 100%;
    height: 69 / 36rem;
    border-top: 1px solid #DCE0E3;
    line-height: 69 / 36rem;
    &:nth-child(5) {
      height:206 / 36rem;
    }
    &:nth-child(1) {
      border: none;
    }
    &:nth-child(4) {
      position: relative;
    }
    .icon{
      display: block;
      position: absolute;
      top: 20 / 36rem;
      width: 16 / 36rem;
      height: 28 / 36rem;
      background: url(../images/sprites.png) no-repeat -272/36rem -4/36rem;
      background-size: 877 / 36rem;
      right: 30 / 36rem;
    }
    input,textarea {
      width: 520 / 36rem;
      font-size: 30 / 36rem;
      font-family: "Microsoft YaHei";
      caret-color:#38A8F4;
    }
  }
}
.default {
  height: 78 / 36rem;
  background-color: #fff;
  margin-top: 25 / 36rem;
  margin-bottom: 25 / 36rem;
  padding-left: 30 / 36rem;
  border-top: 1px solid #DFE0E4;
  border-bottom: 1px solid #DFE0E4;
  position: relative;
  font-size: 30 / 36rem;
  line-height: 78 / 36rem;
  .box {
    width: 70 / 36rem;
    height: 41 / 36rem;
    border-radius: 20 / 36rem;
    background-color: #42D666;
    position: absolute;
    transition: all 0s ease-in 0s;
    right: 30 / 36rem;
    top: 19 / 36rem;
    .ball {
      width: 36 / 36rem;
      height: 37 / 36rem;
      border: 1px solid #42D666;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right:0;
      transition: all 0s ease-in 0s;
    }
    .two {
      border: 1px solid #CCC;
      left:0;
    }
  }
  .one {
    background-color: #ccc;
  }


}
.delete {
  height: 78 / 36rem;
  background-color: #fff;
  line-height: 78 / 36rem;
  color: #F05F4E;
  border-top: 1px solid #DFE0E4;
  border-bottom: 1px solid #DFE0E4;
  font-size: 30 / 36rem;
  padding-left: 30 / 36rem;
  margin-bottom: 87 / 36rem;
}
.footer {
  height: 87 / 36rem;
  text-align: center;
  line-height: 87 / 36rem;
  color: #3AABFB;
  font-size: 35 / 36rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #DFE0E4;
}

